<!DOCTYPE html>
<html>
    <head>
	<style>
            .error {
                color: red;
            }
        </style>
        <title>USER SIGNUP</title>
    </head>
    <body>
        <h1>Signup</h1>
		<form action = "/welcome" method = "POST">
			<table>
				<tbody><tr>
					<td><label for ="username">Username:</label></td>
					<td>
						<input name="username" value="{{ username }}" type="text">
					
						<span class="error">{{ error_user }}</span>
					
					</td>
				</tr>
				<tr>
					<td><label for = "password">Password:</label></td>
					<td>
						<input name = "password" type = "password">
					
						<span class = "error">{{ error_pass }}</span>
						
					</td>
				</tr>
				<tr>
					<td><label for = "verify">Verify Password:</label></td>
					<td>
						<input name = "verify" type = "password">
						
						<span class = "error">{{ error_verify }}</span>
					
					</td>
				</tr>
				<tr>
					<td><label for = "email"> Email (optional):</label></td>
					<td>
						<input name = "email" value = "{{email}}">
						<span class = "error">{{ error_email }}</span>
					</td>
				</tr>
				</tbody>
			</table>
			<input type = "submit">
		</form>
		
</body></html>
<!--		<form action="/add" method="post">
        <label>
            I want to add
            <input type="text" name="new-movie"/>
            to my watchlist.
        </label>
        <input type="submit" value="Add It"/>
    </form>
	 <form action="/crossoff" method="post">
			<label>
				I want to cross off
				<select name="crossed-off-movie"/>
					{% for movie in watchlist %}
						<option key="{{movie}}">{{ movie }}</option>
					{% endfor %}
					{{watchlist}}
					
				</select>
				from my watchlist.
			</label>
			<input type="submit" value="Cross It Off"/>
	</form>
	</body>
</html>
-->

